# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Packaging artifacts
*.egg-info/
dist/
build/

# uv (si generas entornos locales)
.uv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db